.todo_de_listas .listas {
  text-decoration: underline;
  list-style: decimal;
}

.dia_de_listas .listas{
  list-style-type: circle;
  background-color: aquamarine;
}

/* convinador de hijos directos */

.todo_de_listas > .listas{
  list-style: lower-roman;
}
.dia_de_listas > .listas{
  color: brown;
  font-weight: bold;
  font-size: 20px;
}
/* convinador de hermanos adyacente */

/* .subtitulo + *{
  background-color: blueviolet;
} */

/* .subtitulo:hover{
  background-color: brown;
} */

/* hermanos siguientes */
.subtitulo ~ .parrafo{
  background-color: tomato;
}